
@import "vars";

/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {

  .header {
    .logo {
      padding: 10px;
    }
  }

  .main-menu {
    ul {
      li {
        margin-right: 20px;
      }
    }
  }

  .s-service {
    &__content, &__content2 {
      flex-wrap: wrap;
    }
    .service {
      margin-bottom: 40px;
    }
  }

  .s-advantage {
    &__aside {
      &::after {
        right: calc(-50vw + 960px/2 - 10px);
      }
    }
  }
	
}

// ≥992px
@include media-breakpoint-down(md) {
  .hamburger {
    display: block;
  }    

  .header {
    padding: 5px 0;
    background-color: $accent;
    &__title {
      color: #fff;
    }
  }

  .footer {
    text-align: center;

    &__content {
      flex-direction: column;

      & > * {
          margin: 0 0 20px 0 !important;            
      }
    }
  }

	.main-menu {
    display: none;
    background-color: $accent;
    position: fixed;
    top: 54px;
    left: 0;
    right: 0;
    text-align: left;
    margin-left: 0;
    z-index: 98;
    padding: 10px 0;

		ul {
			display: block;
			height: auto;
      padding: 0;
      margin: 0;

			li {
        margin: 0 0 5px;

        &:last-child {
          margin: 0;
        }
			}
		}
  }    

  .s-main {
    .perevozki {
      &__img {
        width: 30px;
      }
      &__title {
        font-size: 14px;
      }
    }
  }

  .s-service {
    &__content, &__content2 {
      // display: none;
    }
    .carousel-service {
      display: block;
      margin-bottom: 20px;
    }
    .service {
      margin-bottom: 40px;
      margin-right: 20px;
    }
  }

  .s-advantage {
    &__title {
      font-size: 18px;
      margin-bottom: 25px;
    }
    &__content {
      flex-direction: column;
    }
    &__block {
      padding: 30px 0;
      &::after {
        content: "";
        position: absolute;
        background-color: #e1e1e1;
        top: 0;
        bottom: 0;
        left: 100%;
        right: -1000px;
      }
    }
    &__aside {
      width: 100%;
      margin-top: 20px;
      &::after {
        // width: 100%;
        display: none;
      }
    }
    .advantage {
      width: 48%;
      margin-right: 0;
      &__content {
        justify-content: space-between;
      }
      &__title {
        font-size: 16px;
      }
    }
    .quiz {
      position: relative;
      box-shadow: 0px 2px 10px 0px rgba(160, 160, 160, 0.76);
      top: auto;
      right: auto;
      transform: none;
      margin: 0 auto;
      &::before {
        display: none;
      }
    }
    
  }

  .s-marka {
    &__content {
      display: none;
    }
    .carousel-marka {
      display: block;
    }
  }

  .s-thanks {
    &__link {
      display: none;
    }
    &__link2 {
      display: block;
    }
  }
}

// ≥768px
@include media-breakpoint-down(sm) {  

  .header {
    &__title {
      display: none;
    }
    &__top {
      margin-bottom: 0;
    }
    &__language {
      padding: 0;
      font-size: 12px;
      li {
        margin-right: 3px;
      }
    }
  }

  .form {
    &--horizontal {
      .form {
        &__content {
          flex-direction: column;
          max-width: 500px;
        } 
        
        &__info {
          max-width: 500px;
        }
      }

      .input-div {
        margin-right: 0;
      }  
    }

    .input-div, .button {
      width: 100%;
    }
  }

  .logo {
    max-width: 200px;
  }

  .section {
    &-title {
      font-size: 20px;
    }      
  }

  .quiz {
    position: relative;
    box-shadow: 0px 2px 10px 0px rgba(160, 160, 160, 0.76);
    transform: none;
    margin: 0 auto;
    top: 0;
    right: auto;
    &::before {
      display: none;
    }
  }

  .s-main {
    padding-top: 78px;
    &__title {
      font-size: 18px;
    }
    &__wrapper {
      background: transparent;
    }
    &__block {
      margin: 0 -15px;
      min-height: 200px;
    }
    &__content {
      margin-bottom: 20px;
    }
    &__perevozki {
      flex-wrap: wrap;
      .perevozki {
        width: 50%;
      }
    }
  }

  .s-advantage {
    &__title {
      text-align: center;
    }

    &__map {
      right: 0;
      position: relative;
      top: 0;
      transform: none;
    }

    .advantage {
      width: 100%;
      margin: 0 auto 20px !important;
    }

    .company {
      &__content {
        .company__img {
          display: none;
        }
      }
      &__block {
        display: none;
      }
    }

    .carousel-company {
      display: block;
      .company__img {
        display: block;
      }
    }
  }

  .s-kinds {
    .kinds {
      margin-bottom: 35px;
    }
  }

  .s-contact {
    margin-bottom: 40px;
    .contact {
      position: static;
      margin: 20px auto 0;
    }
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  .call-me {
    display: flex;
  }

  .header {
    .logo {
      width: 160px;
      padding: 0;
    }
    .hamburger {
      margin-left: 10px;
    }
  }

  .s-main {
    padding-top: 54px;
    
    .perevozki {
      padding: 10px;
      &__img {
        width: 25px;
        margin-right: 5px;
        flex-shrink: 0;
      }
      &__title {
        font-size: 14px;
      }
    }
  }

  .s-service {
    &__content, &__content2 {
      justify-content: space-between;
      margin: 0 -10px;
    }
    .service {
      width: 49%;
      margin-right: 0;
      &__title {
        font-size: 14px;
      }
    }
  }

  .s-advantage {
    .quiz--form {
      min-width: auto;
      width: 100%;
    }
  }

  .s-marka {
    .carousel-marka {
      padding: 0 50px;
    }
  }

  .s-pismo {
    .carousel-pismo {
      padding: 0 45px;
    }
  }

  .s {
    &-thanks {
      
      &-title {
        font-size: 30px;
      }

      &-text {
        font-size: 16px;
        margin-bottom: 40px;
      }
    }
  }

  .question-modal {
    min-height: 250px;
    &::before {
      display: none;
    }
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
  
}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {
  .main-menu {
		.container {
			width: auto;
			padding: 0;
		}
  }
}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}